.span3
	#inbox
		%h3.title Conversations
		.section
			- if @discussion
				= render :partial => "inboxes/discussions/inbox", :collection => @discussions, :as => :discussion
			- else
				.empty_inbox
					%i.icon-asterisk
.span9
	.conversation.section
		- if @discussion
			= render :partial => 'inboxes/discussions/conversation', :locals => {:discussion => @discussion, :partner => @partner}
		- else
			.empty_conversation
				%i.icon-comments
				No Conversations Yet -
				= link_to "Start One", users_path
				