<div class="span2">
	<%= render "layouts/left_column" %>
</div>
<div class="span11">
	<%#= User.filtered_by(@community.id).length %>
	<%#= User.joins(:community_users).where("community_users.community_id IN (?)", @community.id).uniq.compact.map(&:community_ids).flatten.sort %>
	<%#= @community.id %>
	<div id="users">
		<%= render @users %>
	</div>
	<%= paginate @users, :seed => params[:seed] %>
</div>