<div class="offset2 span11">
	<div class="section newsletter">
		<h2>Newsletter</h2>
		<div class="newsletter_users">
			<%= render :partial => "users/user_sm", :collection => User.all.sample(15), :as => :user %>
		</div>
		
		<div class="newsletter_body">
			
		</div>
	</div>
</div>