<div class="span13">
	<div class="section newsletter">
		<!--<h2>Newsletter</h2>
		<div class="newsletter_users">
			<%#= render :partial => "users/user_sm", :collection => User.all.sample(17), :as => :user %>
		</div>
		-->
		<div class="newsletter_body">
			
		</div>
	</div>
</div>