@import "mixins";

/* Variables */
$black: #363636;
$red: #C44545;
$dkred: #931e1e;

html { -webkit-font-smoothing: antialiased; text-shadow: 1px 1px 1px rgba(0,0,0,0.004); }
html a { -webkit-font-smoothing: antialiased; text-shadow: 1px 1px 1px rgba(0,0,0,0.004);  text-decoration: none; font-weight: bold; }
a:hover { text-decoration: none; }
ul, ol { margin: 0; list-style: none; }
body { font-family: "proxima-nova", Georgia, sans-serif; font-size: 14px; color: $black; background: url("bg.gif"); }
form { margin: 0; }
.hidden { display: none; }

#wrap { background: url("big-fade.png") repeat-x; background-position: 0 -50px;}

.container { padding-top: 60px; }
.navbar-fixed-top .container { padding-top: 0; }
.container, .navbar-fixed-top .container { width: 1020px; }
.section { border: 1px solid #D9D4D4; background: #FFF; @include border-radius(3px); @include box-shadow(0,1px,3px,0,rgba(0, 0, 0, 0.05)); 
	}

.edit_user, .subscription { padding: 15px; }

.newsletter { margin-right: 35px; padding: 8px 15px; }
.newsletter_header { border-bottom: 1px solid #EEE; margin: 0 0 35px 0; padding: 8px 20px; background: $red; color: white; @include border-radius(3px);}


/* Header */
.navbar-inner { background: $black;  height: 34px;  }
.navbar .nav > li > a { padding: 7px 15px 8px; }
.navbar .nav > li > a:hover { background: #2E2E2E; color: #999; }
.navbar .nav > li > a i { line-height: 18px; margin-right: 8px; }
.navbar .nav > li > a.active { background: #444; color: #FFF; @include border-radius(0px); }
.navbar .nav > li > a.active:hover { background: #444; color: #FFF; }

.navbar .nav > li > a.logo { color: #FFF; padding-left: 0; }
.navbar .nav > li > a.logo:hover { background: transparent; color: #FFF; }
.navbar .nav > li > a.logo i { color: #999; line-height: 18px; margin-right: 5px !important; }

.navbar .divider-vertical { height: 34px; margin: 0; border: 0; background: $black; }

.dropdown.open .dropdown-toggle { color: #999; }
.dropdown i { margin-right: 0 !important; }
.dropdown:hover i { color: #FFF; }
.open.dropdown { background: #2F2F2F; }
.open.dropdown i { color: #FFF; }

.dropdown-menu a { font-weight: bold; ;padding: 8px 15px; margin: 0 3px; @include border-radius(2px); }
.dropdown-menu a:hover { color: $black !important; background: #EEE !important; }
.dropdown-menu a i { color: $black !important; }

.right_nav { float: right; }
.right_nav i { position: relative; top: 1px; }

/* Home */
.home { margin-top: -22px; }
.home_hero { background: #FFF; padding: 15px 20px; color: #999; border: 1px solid #D9D4D4; @include custom-border-radius(0,0,3px,3px);}
.home_communities { background: #C44545; @include border-radius(3px); color: $dkred; padding: 10px 20px; margin-top: 20px; }
.home_communities ul { margin-bottom: 10px; }
.home_communities ul a { color: #FFF; }
.home_users { width: 1020px; margin-top: 20px; background: #DDD}

.home_hero a { color: $black; }
.categories { border: 1px solid #DDD; width: 120px; @include border-radius(3px); padding: 2px 7px; }
.communities { float: left; width: 160px; }
.communities a { color: blue; padding: 0 0 0 0; }
.toggle_communities { display: block; }

/* Left Column */
.left_column_holder { background: #FFF; padding: 1px; z-index: 2000; @include border-radius(3px); 
	@include box-shadow(0,0,4px,0,rgba(0, 0, 0, 0.05));}
.left_column { background: #C44545; display: block; text-transform: capitalize;  padding: 10px 0 0 6px; @include border-radius(3px); }
.left_column ul { list-style: none; padding-bottom: 8px; border-bottom: 1px solid $dkred; &:last-child { border-bottom: none; } }
.left_column ul a { display: block; color: white; font-weight: bold; padding: 1px 2px 1px 6px; @include custom-border-radius(3px,0,0,3px); }
.left_column ul a:hover { background: $dkred; color: white; }
.left_column ul i { float: right; margin-top: 1px; line-height: 16px; }

.more_filters { margin-top: 3px }
.more_filters a { display: block; background: #AD9C9C; color: #FFF; padding: 5px 10px; border: 1px solid #FFF; @include border-radius(3px); }
.more_filters a:hover { background: #79B8AE; color: #FFF; }
.more_filters	i { position: relative; top: 1px; margin-right: 5px; } 

.filter_title { font-family: "franklin-gothic-urw",sans-serif; color: $dkred; font-size: 13px; font-weight: bold; text-transform: uppercase; }

.selected { background: #2D2D2D; color: white !important; margin-bottom: 1px; } 
.selected:hover { background: #2A2A2A !important; }

/* User */
.user { width: 185px; padding: 5px; margin: 0 12px 12px 0; border: 1px solid #D9D4D4; background: #FFF; @include border-radius(3px); 
	@include box-shadow(0,1px,3px,0,rgba(0, 0, 0, 0.05)); }
.user img { width: 185px; }

.user_box { padding: 6px 5px 1px; color: #AD9C9C; }
.user_name { font-weight: bold; color: #524D4D; }
.user_fields { font-weight: normal; }
.user_more { display: none; margin-top: 5px; padding: 6px 5px; font-weight: normal; border-top: 1px solid #F2F0F0; color: #AD9C9C; }
.user_profile { display: none; }
.user_about { font-size: 13px; margin: 5px 0; padding: 10px; border-top: 1px solid #F2F0F0; border-bottom: 1px solid #F2F0F0; }
.user_schools { font-weight: bold; }
.user_subscribe { text-align: center; text-transform: lowercase; }
.user_subscribe	a { padding: 8px 0; background: #F2F0F0; color: #AD9C9C; display: block; @include border-radius(2px); }
.user_subscribe	i { position: relative; top: 1px; margin-right: 5px; } 
.user_subscribe	a:hover { background: #79B8AE; color: #FFF; }

.home_user { margin: 0 7px 7px 0; }

.edit_user_image { float: right; @include border-radius(3px); }

.newsletter_users { text-align: center; border-top: 1px solid #EEE; padding: 5px 0; }
.small_user { display: inline-block; margin: 0 2px 0 0; height: 50px; width: 50px; }
.small_user img { @include border-radius(0); }

/* Edit Form */
.field { padding: 8px 0 0 5px; }
.field label { min-width: 10%; }
.field.hidden { display: none; }
.field input, .field textarea { margin-left: 3px; }
.multiple_field { margin-bottom: -8px; }
.multiple_field label { position: relative; bottom: 11px; }
#user_about { height: 90px; }

.form-actions { margin: 18px 0 0 0; padding-left: 15px !important; }

/* New Subscription */
.subscribe_dialog { padding: 12px 5px; margin-bottom: 12px; border-bottom: 1px solid #EEE }
.subscribe_text { color: $red; }

#card_month { width: 132px; }
#card_year { width: 83px; }
#stripe_error { padding-left: 5px; color: $red; }

.subscription-smallprint { font-size: 12px; position: relative; top: 8px; color: $red; }
.form-horizontal .form-actions { padding-left: 10px; }

/* Modal */
.modal h3 { background: #FFF; color: #666; position: relative; top: 18px; display: inline-block; padding: 0 8px; font-size: 19px; font-weight: 400; }
.modal { padding: 0; background: #FFF; text-align: center;}
.modal-header { color: #222; font-size: 18px; font-weight: bold; border-bottom: 1px dotted #CCC; padding: 5px 0; margin: 0 8px; }
.modal-users { margin-top: 35px; padding-left: 1px; }

.modal-body { padding: 0; margin: 40px 15px 20px; }

.modal-about { background: #F2F0F0; font-weight: bold; color: #AD9C9C; padding: 18px 0; margin: 2px 0 0; @include custom-border-radius(0,0,3px,3px);}
.modal-about a { color: #AD9C9C; }
.modal-about a:hover { color: $red; }
.modal-about i { position: relative; top: 1px; }


.modal-footer { background: #FFF; }
.modal-login { text-align: center; }

.facebook_login { font-size: 16px; margin: 25px 0; padding: 7px 35px 9px !important; color: #FFF !important; background: #3b5998; display: inline-block; 
	border: 1px solid #003366; @include border-radius(20px); }
.facebook_login:hover { background: #2d4a87; }
.facebook_login i { font-size: 19px; margin-right: 10px !important; position: relative; top: 1px; }
