@import "mixins";

/* Variables */
$red: #C51920;

html, html a { -webkit-font-smoothing: antialiased; text-shadow: 1px 1px 1px rgba(0,0,0,0.004); }
html a { font-weight: bold;  text-decoration: none; }
a:hover { text-decoration: none; }
ul, ol { margin: 0 }
body { padding-top: 60px; }

.navbar { }
.navbar-inner { background: black; }
.brand { }