<div class="span13">
	<div class="home">
		<div class="home_hero">
			<h4>"a third place" is an informal meeting space for building community beyond the home or workplace.<h4>
			<% @communities.each do |community| %>
			<%= link_to community.name, root_url(subdomain: community.subdomain) %>
			<% end %>
		</div>
		<div class="home_users" id="users">
			<%= render @users %>
		</div>
		<%= paginate @users %>
	</div>
</div>