.modal{:id => "message-modal"}
	.modal-header
		%button.close{'data-dismiss' => 'modal'} ×
		%h3 Modal header
	.modal-body
		One fine body…
	.modal-footer
		%a.btn{:href => "#"} Close
		%a.btn.btn-primary{:href => "#"} Save changes